[submodule "perfilEstudiante"]
	path = perfilEstudiante
	url =  https://github.com/JohanaForero/api_aws.git
[submodule "materias"]
	path = materias
	url = https://github.com/JaiderSMS18/colegio.git
[submodule "usuario"]
	path = usuario
	url = https://github.com/JohanaForero/api_aws.git
